<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %m - %X%n%ex</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
<!--        <RollingFile name="File"-->
<!--                     fileName="sample-app.log"-->
<!--                     filePattern="sample-app-%d{yyyy-MM-dd}-%i.log">-->
<!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
<!--            <Policies>-->
<!--                <SizeBasedTriggeringPolicy size="1GB"/>-->
<!--            </Policies>-->
<!--        </RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="File"/>-->
        </Root>
        <Logger name="com.github.lipinskipawel" level="ALL" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Configure external loggers -->
        <!-- Configure netty logging -->
        <Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Configure javalin logging -->
        <Logger name="io.javalin" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Configure jetty logging -->
        <Logger name="org.eclipse" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
